/*
Copyright Luxo 2008

This file is part of derivativeFX.

    derivativeFX is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    derivativeFX is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with derivativeFX.  If not, see <http://www.gnu.org/licenses/>.
    
    */


a:link{
color:#000099;
text-decoration: none;

}
a:visited{
color:#000099;
text-decoration: none;
}
a:hover{
color:#000099;
text-decoration: underline;
}
a:active{
color:#000099;
text-decoration: none;
}

.bodynorm {
color: black;
background: #f9f9f9 url(http://tools.wikimedia.de/~chm/style/backdrop.png) 0 0 no-repeat;
font-family: x-small Arial, sans-serif;
}

.bodyload {
color: black;
background: #EEEEEE url(http://tools.wikimedia.de/~chm/style/backdrop.png) 0 0 no-repeat;
font-family: x-small Arial, sans-serif;
}

.license {
color: black;
font-weight: bold;
}

.notexist {
color: red;
font-weight: bold;
/*background-color: yellow;*/
}

.delete {
color: red;
font-weight: bold;
background-color: yellow;
}

.marker {
color: red;
}

.tempinc {
  border-width:1px;
  border-style:none double;
  border-color:darkgrey;
  padding-left:2.5em;
  text-align:justify;
}

.acceptterm {
  color: red;

}

.helpcont {
vertical-align:top;
}

